.header {
    background-color: #f1f1f1;
    padding: 7px;
    text-align: center;
}

.logo img {
    cursor: pointer;
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    /*box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.5);*/
}

.logo2 img {
    cursor: pointer;
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}






/*.header h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}

.header p {
    text-align: center;
}*/

.navbar {
    text-align: center;
    margin-bottom: 0;
    font-size: 15px;
}

.container h2{
    font-size: 24px;
}

.container p{
    font-size: 14px;
}

/* Rendre les boutons réactifs */
.btn-responsive {
    width: 100%;
    margin-top: 5px; /* Ajoute un espacement entre les boutons */
}



/*
.container-fluid h2{
    margin-bottom: 0;
    font-size: 20px;
}

.container-fluid p{
    margin-bottom: 0;
    font-size: 15px;
}*/


.center-message {
    margin: 0 auto;
    text-align: center;
}



/*.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footer .logo img {
    cursor: pointer;
    width: 100%;
    max-width: 100px; !* Ajustement de la largeur maximale du logo *!
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}*/



/*.layout{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin: 0 auto; !* Centrer le conteneur *!
    max-width: 75%; !* Limiter la largeur à 75% *!
}*/



/*
.menu {
    background-color: #000;
    text-align: center;
    padding: 15px 0;
}

.menu .menuItem {
    display: inline-block;
    margin: 0 30px;
}

.menu .menuItem a {
    color: #fff;
    text-decoration: none;
}*/

.page {
    /*padding: 50px;*/
}

.page h1{
    font-size: 33px;
}

.page h2{
    font-size: 20px;
}
.page ul,
.page p {
    font-size: 14px;
   /* text-align: center;*/
}
/*
.inputs .input {
    text-align: center;
}

.inputs .input input {
    height: 30px;
    width: 300px;
    margin: 5px 0;
}
*/

.inputs .button {
    text-align: center;
}

.inputs .button button {
    background-color: #555;
    border: none;
    padding: 15px 30px;
    color: #fff;
    width: 300px;
    margin: 10px 0;
}

.error {
    background-color: red;
    width: 280px;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
}
